@import "~@angular/material/prebuilt-themes/indigo-pink.css";

p {
  padding-left: 15px;
  padding-right: 10px;
  font-size: 25px;
  // font-family: 'Merriweather', serif;
  font-family: 'Dancing Script', cursive;
  font-weight: 800;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 0;
}

mat-toolbar {
  height: 40px;
}

.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

button {
    margin: 10px 2px 10px 2px;
}
