
<mat-toolbar color='app-primary' class="mat-elevation-z2">
<img src="assets/img/logo.png" width="30px" height="30px">

<button mat-button routerLink="/"><p>TeamUp.tech</p></button>
<button mat-button routerLink="/ideas">Explore Ideas</button>
<button mat-button routerLink="/">Explore Skills</button>
<a mat-button href="https://www.un.org/sustainabledevelopment/sustainable-development-goals/" target="_blank">Explore UN Sustainable Development Goals</a>

<span class="fill-remaining-space"></span>
<button mat-button>Donate</button>
<button mat-button>Account</button>
</mat-toolbar>
