<app-navibar></app-navibar>

<div class="projects-container">
  <div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="card-deck-container">
    <div fxFlex *ngFor="let project of projects" class="card-item">
      <mat-card class="project-card mat-elevation-z5">
        <mat-card-header>
          <mat-card-title>{{project.title}}</mat-card-title>
          <mat-card-subtitle>{{project.owner + ' - ' + project.date}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{project.image}}">
        <mat-card-content>
          <p>
            {{project.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p class="card-subtitles">Skills Required</p>
          <br>
          <mat-chip-list>
            <mat-chip *ngFor="let skill of project.skills_required">{{skill}}</mat-chip>
          </mat-chip-list>

          <br>
          <p class="card-subtitles">Resources Required</p>
          <br>
          <mat-chip-list>
            <mat-chip *ngFor="let resource of project.resources_required">{{resource}}</mat-chip>
          </mat-chip-list>
          <hr>
          <div class="connect-div">
            <button mat-raised-button color="primary" >Connect</button>
          </div>


        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
