<div class="home">
  <div class="home-content">
    <div class="title-text">
      <h1>Collaborate to Create</h1>
      <h1>Better Communities</h1>
      <p>Using your Ideas, Skills, and Resources</p>
    </div>

    <br>

    <button mat-raised-button color="primary" (click)="openDialog('ideas')">I have an Idea</button>
    <button mat-raised-button color="primary" (click)="openDialog('skills')">I have Skills</button>
    <button mat-raised-button color="primary" (click)="openDialog('sponsorng')">I'm a Sponsor</button>
  </div>
</div>

